<font color="#CC3D3D"><p>
# 실습-01: 명시적 프로그래밍(Explicit Programming, Rule-based System)

### feature = X 값, target = Y값

### 0. Problem Statement

타이타닉의 생존자는 누구일까?   
- 생존자를 찾기 위한 규칙(IF문)을 작성하세요.
- 작성한 규칙을 탑승자 데이터에 적용하여 규칙이 얼마나 맞는지 확인하세요.

##### Imports

In [1]:
import pandas as pd 
from sklearn.metrics import accuracy_score # 정확도(예측값과 실제값이 얼마나 일치하는지) 계산함수

### 1. Read Data

In [10]:
train = pd.read_csv('titanic_train.csv', encoding='cp949') 
train.head(5)

,승객ID,생존여부,객실등급,성별,나이,동반_형제자매배우자,동반_부모자식,티켓가격,이름,티켓번호,객실번호,탑승항구
0,1,0,3,남자,22.0,1,0,7.2500,"Braund, Mr. Owen Harris",A/5 21171,NaN,S
1,2,1,1,여자,38.0,1,0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599,C85,C
2,3,1,3,여자,26.0,0,0,7.9250,"Heikkinen, Miss. Laina",STON/O2. 3101282,NaN,S
3,4,1,1,여자,35.0,1,0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,C123,S
4,5,0,3,남자,35.0,0,0,8.0500,"Allen, Mr. William Henry",373450,NaN,S

In [11]:
train['티켓가격'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: 티켓가격, dtype: float64

In [42]:
train['탑승항구'].describe()

count     889
unique      3
top         S
freq      644
Name: 탑승항구, dtype: object

### 2. Make Rules

In [112]:
def rules(x):
    if (x.성별 == '남자') and (x.나이 < 20) and (x.객실등급 == 1):
        return 1
    if (x.성별 == '여자') and (x.객실등급 <=3):
        return 1
    if (x.성별 == '여자') and (x.티켓가격 > 30):
        return 1
    if (x.성별 =='여자') and  (x.성별 == '남자') and (x.나이 > 60):
        return 1
    if (x.나이 <10):
        return 1
    if x.이름 in ['Ms', 'Mme']:
        return 1
    # 이런 경우에 생존 또는 그렇지 않았다고 생각하는 규칙을 추가하세요 !!!

    return 0


#1=생존, 0=사망

In [113]:
# 탑승자 한사람씩 (train 데이터의 한 행) 위의 규칙을 적용하여 생존여부를 예측
prediction = train.apply(rules, axis=1) #한 행씩 apply하겠다


# 데이터 프레임으로 만들어, 예측값과 실제값을 비교
pd.DataFrame({'승객ID': train.승객ID, '생존여부(예측)': prediction, '생존여부(실제)': train.생존여부})

     승객ID  생존여부(예측)  생존여부(실제)
0       1         0         0
1       2         1         1
2       3         1         1
3       4         1         1
4       5         0         0
..    ...       ...       ...
886   887         0         0
887   888         1         1
888   889         1         0
889   890         0         1
890   891         0         0

[891 rows x 3 columns]

### 3. Evaluate Rules

In [114]:
# 예측값과 실제값이 얼마나 일치하는지 측정: 정확도
accuracy_score(train.생존여부, prediction)

0.792368125701459

<font color="#CC3D3D"><p>
# End